@CHARSET "UTF-8";

/**
* This container contains the img and svg "panel"
* The ID is set by javascript.
*/
div.dragdrop-container {
	position: relative;
	margin-top: 30px;
	border: 3px solid #AAA;
	padding: 0 !important;
}
div.dragdrop-container > img {
	display: none;
	visibility: hidden;
}
 
/**
* The feedback pane for the quiz taker
*/
#quiz-dragdrop-feedback {
	position: absolute;
	top: 100px;
	right: 0;
	left: 0;
	width: 200px;
	background-color: white;
	margin: 0px auto;
	border: 8px double;
	vertical-align: center;
	padding: 10px;
	z-index: 100000;
}

span#feedback-correct,
span#feedback-wrong {
	display: inline-block;
	font-weight: normal;
	font-size: 90%;
	width: 160px;	
	color: #777;
	position: relative;
	top: 3px;
}

span#feedback-wrong {
	clear: both;
}

label#settings-for {
	font-size: 110%;
	max-width: 300px;
	display: inline-block;
	background-color: #EEE;
	padding: 0px 5px;
}

/**
* The editor toolpane
*/
#quiz-dragdrop-toolpane {
	background-color: white;
	border-style: double;
	border-width: 5px;
	width: 400px;
	margin: 0px auto;
	position: relative;
	bottom: 104px;
	padding: 5px 10px 10px 10px;
}

#quiz-dragdrop-feedback-pane > input.feedback {
	margin-right: 5px;
	width: 150px;
}

#quiz-dragdrop-toolpane > #quiz-dragdrop-buttonpane {
	position: absolute;
	right: 3px;
	top: 11px;
}

#quiz-dragdrop-buttonpane > input {
	float: left;
	clear: left;
	width: 100%;
	height: 20px;
	margin-bottom: 3px;
	font-size: 90%;
	padding-top: 0px;
}

#quiz-dragdrop-toolpane > #colorwheel-container {
	background-color: white;
	border: 5px double black;
	position: absolute;
	z-index: 1000;
	display: none; /* Hide by default */
	top: -165px;
	right: 5px;
	border-bottom: none;
	padding: 5px;
}
#quiz-dragdrop-feedback-pane > #feedback-disabled {
	position: absolute;
	top: 37px;
	height: 42px;
	background-color: #EEE;
	text-align: center;
	vertical-align: middle;
	opacity: 0.8;
	filter: alpha(opacity=80);
	width: 318px;
}
#quiz-dragdrop-feedback-pane > #feedback-disabled > p {
	margin-top: 13px;
	font-size: 150%;
    font-weight: bold;
}

/**
* The response
*/
.quiz-dragdrop-icon-cell {
  width: 32px;
  padding: 0 5px;
}
.quiz-dragdrop-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(images/icons.png) no-repeat;
}
.quiz-dragdrop-icon.wrong {
  background-position: -32px 0;
}
.quiz-dragdrop-icon.no-answer {
  background-position: -64px 0;
}


